.list {
    width: 100%;
}

.blog {
    display:flex;
    width: 15%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 1% 0 0 1.5%;
    transition: transform 0.3s;
}

.blog a {
    color: black;
    text-decoration: none;
    font-size: 25;
    text-shadow: red;
}

.blog_info {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.blog_info a {
    font-size: 20;
}

.content {
    transition: transform 0.3s;
}
.content:hover {
    transform: translateY(-5px);
}

form{
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.pagination a, .pagination span{
    color: red;
    text-decoration: none;
    padding: 0.5em 0.75em;
    border: 1px solid #dee2e6;
    border-radius: 0.25em;
    background-color: antiquewhite;
}

.pagination a:hover {
    background-color: #e2e6ea;
}

.pagination .current {
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #6c757d;
}